.vehicle-search-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 60%;  
    padding: 20px;  
    border: 1px solid #ccc; 
    border-radius: 5px;  
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    max-height: 30vh;  
}

.vehicle-search-dropdown label {
    font-weight: bold;  
    margin-bottom: 5px;  
    font-size: 14px;  
}

.vehicle-search-dropdown select,
.vehicle-search-dropdown input {
    display: flex;
    height: auto;
    align-items: center;
    width: 60%;  
    padding: 5px;  
    border: 1px solid #ddd;  
    border-radius: 3px;  
    font-size: 14px;  
}

.vehicle-search-dropdown select:focus,
.vehicle-search-dropdown input:focus {
    border-color: #007bff;  
    outline: none;  
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
}

.vehicle-search-dropdown ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;  
     
    width:100%;  
    overflow-y: auto;  
}

.vehicle-search-dropdown ul li {
    display: flex;  
    align-items: center;  
    padding: 5px;  
    background-color: #fff;  
    border: 1px solid #ddd;  
    border-radius: 10px;  
    font-size: 14px;  
    color: #333;  
    width:  40%;
    height: auto;
    margin-left: 10px;
}

.vehicle-search-dropdown ul li:hover {
    background-color: #f1f1f1;  
    cursor: pointer;
      
}

.vehicle-search-dropdown ul li input[type="checkbox"] {
    margin-right: 8px;  
}
